* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    --color-primary:#060A24;
    --color-secondary: white;
    --color-link-active: rgba(6,10,36,0.56);
    --bkg-primary: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 100%);
    --bkg-secondary: rgba(0,0,236,1);
    --btn-bg-color: #00F3BB;
    --btn-bg-hover: linear-gradient(90deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
}
body * {
    transition: .3s;
}
.--title {
    font-family: 'IBM Plex Mono', monospace;
}
h1 { font-size: 3.0rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 2.2rem; }
h5 { font-size: 1.8rem; }
h6 { font-size: 1.6rem; }
a {text-decoration: none;}
/*
    UI components
*/
.btn {
    display: block;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    padding: 13px 0;
    font-size: 1.1rem;
    background: var(--btn-bg-color);
}
.btn:hover {
    background: var(--btn-bg-hover);
    color: var(--color-secondary);
}
.text-link {
    color: var(--color-primary);
    text-decoration: none;
}
.text-link:hover{
    text-decoration: line-through;
    color: var(--btn-bg-color)
}
.text-link:active, .text-link.active {
    text-decoration: line-through;
    color: var(--color-link-active);
}
/* HEADER */
.header {
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
#menu-toggle, .header .menu-desktop { 
    display: none;
}
#menu-toggle:not(:checked) ~ .burger-menu .fa-times,
#menu-toggle:not(:checked) ~ .menu-mobile {
    display: none;
}
#menu-toggle:checked ~ .burger-menu .fa-bars {
   display: none;
}
#menu-toggle:checked ~ .menu-mobile {
    display: block;
    animation: slide .3s ease-out;
}
.header .burger-menu {
    cursor: pointer;
}
.header .menu-mobile {
    position: absolute;
    top: 46px;
    box-shadow: 0px 25px 40px 0px rgba(0,0,0,0.50);
    background:var(--bkg-secondary);
    left: 0;
    right: 0;
}
.header .menu-mobile ul {
    display: flex;
    flex-flow: column wrap;
}
.header .menu-mobile ul li a {
    display: block;
    color: var(--color-secondary);
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
}
.header .menu-mobile ul li a:hover {
    background: rgb(0, 0, 201);
}
/*
    HERO
*/
.hero {
    margin: 20px;
    padding: 20px 0;
}
.hero h2, .about-us h2{
    line-height: 1;
}
.hero h2, .hero p {
    margin-bottom: 20px;
}
/*
    CHAPTERS
*/
.chapters {
    background: var(--bkg-primary);
    padding: 40px 20px 120px;
}
.chapters h2 {
    color: var(--color-secondary);
    margin-bottom: 20px;
}
.chapters .podcasts iframe {
    margin-bottom: 15px;
}
.chapters .podcasts iframe:last-of-type {
    margin-bottom: 0;
} 

/* ABOUT */
.about-us {
    padding: 0 20px;
}
.about-us h2 {
    margin-bottom: 20px;
}
.about-us img {
    width: 100%;
    position: relative;
    top: -75px;
}

.about-us .container > div {
    position: relative;
    top: -50px;
}

/* GUETS */
.guests h2 {
    margin: 0 20px;
}
.guests img {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
}

/* TOPICS */

.topics {
    padding:30px 0 0;
}
.topics h2 {
    margin: 10% 4%;
}
.topics .body {
    text-align: center;
}
.topics .body .subject {
    margin-bottom: 12%;
}
.topics .body .subject p {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 15px;
}
.topics .news {
    padding: 15% 4%;
    background: var(--bkg-primary);
}
.topics .news h3 {
    color: var(--color-secondary);
    margin-bottom: 20px;
}

/*FOOTER*/
.footer {
    padding: 5% 8%;
    text-align: center;
}

.footer .text {
    letter-spacing: 4px;
}

.footer .social-networks {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}

 @keyframes slide {
    0% { opacity: 0; transform: translateX(-100%) }
    100% { opacity: 1; transform: translateX(0); }
}